<a href="https://colab.research.google.com/github/RJKool/Sales-Predections/blob/main/Sales_Predictions_CORE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [118]:
# MOUNT DRIVE
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [119]:
# IMPORT LIBRARIES
import pandas as pd

In [120]:
# LOAD DATASET
df = pd.read_csv("/content/drive/MyDrive/02-WEEK_2/sales_predictions.csv")
df.head(10)  #display first 10 rows of dataset to view and verify it was loaded properly.

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350

#1.  How many rows and columns?

In [121]:
df.shape  #.shape returns as (rows, columns)

(8523, 12)

#2.  What are the datatypes of each variable?

In [122]:
df.info()  #Returns the summary of the dataframe.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

#3.  Are there duplicates? If so, drop any duplicates.

In [123]:
#r_they_dupd = df.duplicated().to_frame()
#display( r_they_dupd )
#r_they_dupd.count()

display( df.duplicated().to_frame().count() )

'''.count() returned a single row of 0 (False) with a total row count of 8523.
   This means there are no duplicate entries in the dataframe.'''

0    8523
dtype: int64

'.count() returned a single row of 0 (False) with a total row count of 8523.\n   This means there are no duplicate entries in the dataframe.'

#4.  Identify missing values.

In [124]:
df.isna().sum()  #.sum() returned the number of nas "not a number" in each column of the dataframe
#Missing values are in column "Item_Weight" and "Outlet_Size"

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

#5.  Decide on how to address the missing values and do it! (This requires your judgement, so explain your choice).

In [125]:
rashad = df[ df["Item_Weight"].isna() ]
display(rashad)
print()

display( df["Item_Weight"].value_counts() )
print()

display( rashad[["Outlet_Size"]].value_counts() )
display( df[["Outlet_Size"]].value_counts() )

'''I do not want to drop any data because the amount of NaN values in our two columns with missing data are individually greater than 2%.
   I don't see any correlation between the missing NaN values in the "Item_Weight" or "Outlet_Size"
   columns and how their values will be used in sales predictions.  So I will replace all the missing
   weights with "1" since the there are are no items with a weight of 1.  This will also allow me to
   identify later that the specific item had a null value in my notes.  I will replace the NaN values
   in the "Outlet_Size column with "MISSING".'''

df["Item_Weight"].fillna(1,inplace=True)   #Using .fillna to repalce NaN values in "Item_Weight" column with "1".
df["Outlet_Size"].fillna("MISSING",inplace=True)   #Using .fillna to repalce NaN values in "Outlet_Size" column with "Missing".

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
...,...,...,...,...,...,...,...,...,...,...,...,...
8485,DRK37,NaN,Low Fat,0.043792,Soft Drinks,189.0530,OUT027,1985,Medium,Tier 3,Supermarket Type3,6261.8490
8487,DRG13,NaN,Low Fat,0.037006,Soft Drinks,164.7526,OUT027,1985,Medium,Tier 3,Supermarket Type3,4111.3150
8488,NCN14,NaN,Low Fat,0.091473,Others,184.6608,OUT027,1985,Medium,Tier 3,Supermarket Type3,2756.4120
8490,FDU44,NaN,Regular,0.102296,Fruits and Vegetables,162.3552,OUT019,1985,Small,Tier 1,Grocery Store,487.3656
8504,NCN18,NaN,Low Fat,0.124111,Household,111.7544,OUT027,1985,Medium,Tier 3,Supermarket Type3,4138.6128

12.150    86
17.600    82
13.650    77
11.800    76
15.100    68
          ..
7.275      2
7.685      1
9.420      1
6.520      1
5.400      1
Name: Item_Weight, Length: 415, dtype: int64

Outlet_Size
Medium         935
Small          528
dtype: int64

Outlet_Size
Medium         2793
Small          2388
High            932
dtype: int64

#6.  Confirm that there are no missing values after addressing them.

In [126]:
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

#7.  Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent).

In [127]:
display( df.head() )

'''The categories look to be fine and don't need to be modified'''

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,MISSING,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

"The categories look to be fine and don't need to be modified"

#8.  For any numerical columns, obtain the summary statistics of each (min, max, mean).

In [162]:
def stats(x,y):
  print(f"Minimum {y}:  {x.min().round(2)}")
  print(f"Maximum {y}:  {x.max().round(2)}")
  print(f"Average {y}:  {x.mean().round(2)}")
  print()

only_item_weight = df["Item_Weight"].to_frame()
only_item_visibility = df["Item_Visibility"].to_frame()
only_item_MRP = df["Item_MRP"].to_frame()
only_item_outlet_sales = df["Item_Outlet_Sales"].to_frame()

only_item_weight.apply(stats, args=["Item_Weight"])
only_item_visibility.apply(stats, args=["Item_Visibility"])
only_item_MRP.apply(stats, args=["Item_MRP"])
only_item_outlet_sales.apply(stats, args=["Item_Outlet_Sales"])

Minimum Item_Weight:  1.0
Maximum Item_Weight:  21.35
Average Item_Weight:  10.82

Minimum Item_Visibility:  0.0
Maximum Item_Visibility:  0.33
Average Item_Visibility:  0.07

Minimum Item_MRP:  31.29
Maximum Item_MRP:  266.89
Average Item_MRP:  140.99

Minimum Item_Outlet_Sales:  33.29
Maximum Item_Outlet_Sales:  13086.96
Average Item_Outlet_Sales:  2181.29

Item_Outlet_Sales    None
dtype: object