<a href="https://colab.research.google.com/github/RJKool/Sales-Predections/blob/main/Sales_Predictions_CORE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [120]:
# MOUNT DRIVE
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [121]:
# IMPORT LIBRARIES
import pandas as pd

In [122]:
# LOAD DATASET
df = pd.read_csv("/content/drive/MyDrive/02-WEEK_2/sales_predictions.csv")
df.head(10)  #display first 10 rows of dataset to view and verify it was loaded properly.

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350

#1.  How many rows and columns?

In [123]:
df.shape  #.shape returns as (rows, columns)

(8523, 12)

#2.  What are the datatypes of each variable?

In [124]:
df.info()  #Returns the summary of the dataframe.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

#3.  Are there duplicates? If so, drop any duplicates.

In [125]:
#r_they_dupd = df.duplicated().to_frame()
#display( r_they_dupd )
#r_they_dupd.count()

display( df.duplicated().to_frame().count() )

'''.count() returned a single row of 0 (False) with a total row count of 8523.
   This means there are no duplicate entries in the dataframe.'''

0    8523
dtype: int64

'.count() returned a single row of 0 (False) with a total row count of 8523.\n   This means there are no duplicate entries in the dataframe.'

#4.  Identify missing values.

In [126]:
df.isna().sum()  #.sum() returned the number of nas "not a number" in each column of the dataframe
#Missing values are in column "Item_Weight" and "Outlet_Size"

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

#5.  Decide on how to address the missing values and do it! (This requires your judgement, so explain your choice).

In [127]:
display( df.head() )
print()

#Filling all NaN "not a number" entries in the "Item_Weight" column with the average of "Item_Weight" column.
df["Item_Weight"].fillna(df["Item_Weight"].mean(),inplace=True)
display( df.isna().sum() )  #Checking the sum of NaN in all columns of df after modification
print()

display( df["Outlet_Size"].value_counts() )  #There are more Medium size outlets in the data set.  I will fill all NaN in the "Outlet_Size" column with Medium.
df["Outlet_Size"].fillna("Medium",inplace=True)
display( df.isna().sum() )  #Checking the sum of NaN in all columns of df after modification

'''All missing values are now gone'''

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

'All missing values are now gone'

#6.  Confirm that there are no missing values after addressing them.

In [128]:
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

#7.  Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent).

In [140]:
display( df.shape )
'''There are 12 columns of data'''

display( df.head() )   #Displaying dataframe to evaluate column data.
print()
display( df.nunique() )  #Displaying the number of unique values in each column of dataframe to make help evaluate values in dataframe.
print()

df["Item_Identifier"].value_counts()  #Item_Identifier has a large range of item numbers.  This is expected.  No modification appears to be needed.
df["Item_Weight"].value_counts()  #Item_Weight looks to have typical items weights in the column.  No modification appears to be needed.
df["Item_Fat_Content"].value_counts()  #Inconsistent data found.
#Replacing inconsistent data found in column "Item_Fat_Content" where extra categories "LF", "low fat", and "reg" were found.
df["Item_Fat_Content"] = df["Item_Fat_Content"].replace("LF", "Low Fat")
df["Item_Fat_Content"] = df["Item_Fat_Content"].replace("low fat", "Low Fat")
df["Item_Fat_Content"] = df["Item_Fat_Content"].replace("reg", "Regular")
#Verifying values in column "Item_Fat_Content" after modifications.
display( df["Item_Fat_Content"].value_counts() )  #Categories look to be properly adjusted.
print()

#Continuing check of dataframe columns.
df["Item_Visibility"].value_counts()  #Possible inconsistent data found where 526 instances of 0.000000 were found.
#Replacing inconsistent data found in "Item_Visibility" where 0 will be replaced with the average of column "Item_Visibility"
avg_vis = df["Item_Visibility"].mean()
df["Item_Visibility"] = df["Item_Visibility"].replace(0, avg_vis)
#Verifying values in column "Item_Visibility" after modifications.
display( df["Item_Visibility"].value_counts() )
print()

#Continuing check of dataframe columns.
df["Item_Type"].value_counts()  #Item_Type looks to have typical category counts.  No modification appears to be needed.
df["Item_MRP"].value_counts()  #Item_MPR looks to have typical category counts.  No modification appears to be needed.
df["Outlet_Identifier"].value_counts()  #Outlet_Identifier looks to have typical category counts.  No modification appears to be needed.
df["Outlet_Establishment_Year"].value_counts()  #Outlet_Establishment_Year looks to have typical category counts.  No modification appears to be needed.
df["Outlet_Size"].value_counts()  #Outlet_Size looks to have typical category counts.  No modification appears to be needed.
df["Outlet_Location_Type"].value_counts()  #Outlet_Location_Type looks to have typical category counts.  No modification appears to be needed.
df["Outlet_Type"].value_counts()  #Outlet_Type looks to have typical category counts.  No modification appears to be needed.
df["Item_Outlet_Sales"].value_counts()  #Outlet_Outlet_Sales looks to have typical category values.  No modification appears to be needed.

(8523, 12)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.066132,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.066132,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

Item_Identifier              1559
Item_Weight                   416
Item_Fat_Content                2
Item_Visibility              7880
Item_Type                      16
Item_MRP                     5938
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     3
Outlet_Location_Type            3
Outlet_Type                     4
Item_Outlet_Sales            3493
dtype: int64

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

0.066132    526
0.076975      3
0.162462      2
0.076841      2
0.073562      2
           ...
0.013957      1
0.110460      1
0.124646      1
0.054142      1
0.044878      1
Name: Item_Visibility, Length: 7880, dtype: int64

958.7520     17
1342.2528    16
703.0848     15
1845.5976    15
1278.3360    14
             ..
4124.6310     1
6622.7126     1
1614.5650     1
5602.7070     1
2778.3834     1
Name: Item_Outlet_Sales, Length: 3493, dtype: int64

#8.  For any numerical columns, obtain the summary statistics of each (min, max, mean).

In [11]:
def stats(x,y):
  print(f"Minimum {y}:  {x.min().round(2)}")
  print(f"Maximum {y}:  {x.max().round(2)}")
  print(f"Average {y}:  {x.mean().round(2)}")
  print()

only_item_weight = df["Item_Weight"].to_frame()
only_item_visibility = df["Item_Visibility"].to_frame()
only_item_MRP = df["Item_MRP"].to_frame()
only_item_outlet_sales = df["Item_Outlet_Sales"].to_frame()

only_item_weight.apply(stats, args=["Item_Weight"])
only_item_visibility.apply(stats, args=["Item_Visibility"])
only_item_MRP.apply(stats, args=["Item_MRP"])
only_item_outlet_sales.apply(stats, args=["Item_Outlet_Sales"])

Minimum Item_Weight:  1.0
Maximum Item_Weight:  21.35
Average Item_Weight:  10.82

Minimum Item_Visibility:  0.0
Maximum Item_Visibility:  0.33
Average Item_Visibility:  0.07

Minimum Item_MRP:  31.29
Maximum Item_MRP:  266.89
Average Item_MRP:  140.99

Minimum Item_Outlet_Sales:  33.29
Maximum Item_Outlet_Sales:  13086.96
Average Item_Outlet_Sales:  2181.29

Item_Outlet_Sales    None
dtype: object